:root {
	--ff-text: "Changa", sans-serif;

	--fw-300: 300;
	--fw-500: 500;
	--fw-700: 700;

	--fs-200: 1.6rem;
	--fs-250: 2rem;
	--fs-280: 2.5rem;
	--fs-300: 3rem;
	--fs-400: 4rem;

	--color-primary: #3f826d;
	--color-secondary: #545e75;
	--color-accent: #c03221;
	--color-bg-1: #f7f7ff;
	--color-bg-2: #f2d0a4;
	--color-grey: #333;

	--logo-icon: 4.5rem;
	--logo-icon-md: 3.5rem;
	--logo-icon-xmd: 3rem;
	--logo-icon-sm: 2.5rem;

	--border-sm: 1rem;

	--spacer-sm: 2rem;
	--spacer-md: 3rem;
	--spacer-lg: 4rem;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: var(--ff-text);
	background-color: var(--color-secondary);
	width: 100vw;
	height: 100vh;

	justify-content: center;
}

/* Refactor */

body,
.header,
.current,
.capture {
	display: flex;
	align-items: center;
}

.current,
.capture {
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
}

.header-heading,
.capture-btn,
.current-date__highlight,
.current-weekday {
	font-weight: var(--fw-300);
	text-transform: uppercase;
}

.current-date,
.capture-label,
.output-text {
	font-size: var(--fs-250);
	font-weight: var(--fw-500);
}

.capture-date,
.capture-btn {
	border: none;
	border-radius: var(--border-sm);
	padding: 0.8rem var(--spacer-sm);
	color: var(--color-bg-1);
	width: 100%;
	transition: all 0.8s;
}

.header-icon,
.header-heading,
.current-weekday,
.output-text {
	color: var(--color-secondary);
}

.current-date,
.capture-label,
.output-date {
	color: var(--color-grey);
}

/* ********************************** */

.container {
	background-color: var(--color-bg-1);
	width: 75%;
	height: 60%;

	display: grid;
	grid-template-columns: 1fr repeat(2, 20rem) 1fr;
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	align-items: center;

	border-radius: var(--border-sm);
	box-shadow: 3rem 3rem 6rem rgba(0, 0, 0, 0.25);
}

/* Header */
.header {
	grid-column: 2 / 4;
	grid-row: 1 / 2;

	gap: var(--spacer-md);
	border-bottom: 2px solid var(--color-accent);
}

.header-icon {
	width: var(--logo-icon);
	height: var(--logo-icon);
}

.header-heading {
	font-size: var(--fs-400);
	letter-spacing: 0.3rem;
}

/* Current */
.current {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}

.current-weekday {
	font-size: var(--fs-250);
}

.current-date__highlight {
	display: block;
	font-size: var(--fs-300);
	color: var(--color-primary);
	border-bottom: 2px solid currentColor;
}

/* Form */
.capture {
	grid-column: 3 / 5;
	grid-row: 2 / 3;
	width: 45%;
	height: 100%;
}

.capture-date {
	background-color: var(--color-secondary);
	position: relative;
	text-align: center;
}

/* Allows calendar popup when clicked anywhere */
.capture-date::-webkit-calendar-picker-indicator {
	position: absolute;
	inset: 0;
	width: auto;
	height: auto;
	color: transparent;
	background: transparent;
	cursor: pointer;
}

.capture-date:focus-visible {
	outline: 1px solid var(--color-accent);
}

.capture-date:hover,
.capture-btn:hover {
	background-color: var(--color-accent);
}

.capture-btn {
	background-color: var(--color-primary);
	font-family: inherit;
	font-size: var(--fs-200);
	cursor: pointer;
}

/* Output */
.output {
	grid-column: 1 / -1;
	grid-row: 3 / 4;
	align-self: flex-start;
	text-align: center;
}

.output-hidden {
	display: none;
}

.output-date {
	font-size: var(--fs-300);
	font-weight: var(--fw-300);
}

/* Media Quesries */
/* 1200px */
@media screen and (max-width: 75em) {
	html {
		font-size: 56.25%;
	}

	.container {
		width: 65%;
		height: 55%;
	}
}
/* 900px */
@media screen and (max-width: 56.25em) {
	.container {
		width: 65%;
		height: 65%;
		grid-template-columns: 1fr repeat(2, 12.5rem) 1fr;
	}

	.header {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
	}

	.header-heading {
		font-size: var(--fs-300);
	}

	.header-icon {
		width: var(--logo-icon-md);
		height: var(--logo-icon-md);
	}

	.current {
		width: 60%;
		height: 65%;
	}

	.current-weekday,
	.output-text {
		font-size: var(--fs-200);
	}

	.current-date__highlight {
		font-size: var(--fs-250);
	}

	.capture {
		justify-content: space-evenly;
		height: 70%;
		width: 60%;
	}
}
/* 600px */
@media screen and (max-width: 37.5em) {
	.container {
		height: 85%;
		width: 80%;
		grid-template-rows: 20rem repeat(2, 1fr) 20rem;
	}

	.current {
		grid-row: 2 / 3;
	}

	.current,
	.capture {
		grid-column: 1 / -1;
		align-self: baseline;
	}

	.capture {
		grid-row: 3 / 4;
		width: 50%;
	}

	.capture-date{
		width: 100%;
		justify-content: space-evenly;
	}

	.output {
		grid-row: 4 / 5;
		grid-column: 1 / -1;
	}

	.header-heading,
	.current-date__hightlight{
		font-size: var(--fs-280);
	}

	.header-icon {
		width: var(--logo-icon-xmd);
		height: var(--logo-icon-xmd);
	}

	.output-date {
		font-size: var(--fs-250);
	}
}
/* 400px */
@media screen and (max-width: 25em) {
	html {
		font-size: 50%;
	}

	.container {
		height: 75%;
		width: 75%;
	}

	.header {
		grid-column: 2 / 4;
		align-self: end;
		gap: var(--spacer-sm);
		flex-direction: column;
	}

	.header-icon {
		width: var(--logo-icon-md);
		height: var(--logo-icon-md);
	}

	.current {
		grid-row: 2 / 3;
		grid-column: 2 / 4;
		align-self: center;
	}

	.capture {
		grid-row: 3 / 4;
		grid-column: 2 / 4;
		width: 75%;
	}

	.output {
		grid-row: 4 / 5;
		grid-column: 2 / 4;
	}
}
